{% extends 'base.html' %}
<!-- {% load static %} -->

{% block title %}

{% endblock %}



{% block CSS %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>     
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'main.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}




<div class="bot" id="bot">
    <div class="container" id="container">
        <img id="bot-image"class="bot-image" src="{% static 'monkey.png' %}">
    
        <div class="div_icons"> <a href="{% url 'animals' %}" >
            <i class="material-icons pets" style="font-size:80px;">pets</i> </a>
        <p>Animals</p>
    </div>
        
        <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">
            
testing
        </button>
        <!-- <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">Antarctica</button>
        <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">Europe</button>
        <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">Africa</button>
        <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">North Amercia</button>
        <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">Asia </button> -->


        <!-- Asia -->



<!-- asia -->





        <!-- Europe -->



        <!-- Antarcica -->
      

        <!-- Australia -->
  
     


        <!-- nortn amercia  -->

 

        <!-- container div -->
        </div>
        <!-- bot div  -->
    </div>



{% endblock %}
