{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock %}



{% block CSS %}


{% endblock %}

{% block content %}




<div class="bot" id="bot">
    <div class="container" id="container">
        <img id="bot-image" class="bot-image" src="{% static 'monkey.png' %}">



        <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">
            <div class="div_icons"> <a href="{% url 'asia' %}">
                    <h2> Asia</h2>
            </div>
        </button>

        <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">
            <div class="div_icons"> <a href="{% url 'africa' %}">
                    <h2>Africa</h2>
            </div>
        </button>

        <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">
            <div class="div_icons"> <a href="{% url 'australia' %}">
                    <h2>Australia</h2>
            </div>
        </button>

        <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">
            <div class="div_icons"> <a href="{% url 'south_america' %}">
                <h2>South America</h2>
            </div>
        </button>

        <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">
            <div class="div_icons"> <a href="{% url 'europe' %}">
                <h2>Europe</h2>
            </div>
        </button>

        <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">
            <div class="div_icons"> <a href="{% url 'antarctica' %}">
                <h2>Antarctica</h2>
            </div>
        </button>
        <!-- <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">Antarctica</button>
        <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">Europe</button>
        <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">Africa</button>
        <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">North Amercia</button>
        <button mat-button-update mat-raised-button color="primary" class="btn2" id="btn2">Asia </button> -->


        <!-- Asia -->



        <!-- asia -->





        <!-- Europe -->



        <!-- Antarcica -->


        <!-- Australia -->




        <!-- nortn amercia  -->



        <!-- container div -->
    </div>
    <!-- bot div  -->
</div>



{% endblock %}